<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Mail Form</title>
</head>
<body>
    <h1>E-Mail Form</h1>
    <hr>
    <fieldset>
        <form action="/" method="post">
            <label for="subject">Subject: </label>
            <input type="text" name="subject">
            <br>
            <label for="msg">Message:</label>
            <br>
            <textarea id="" name="msg" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Send">
        </form>
    </fieldset>
</body>
</html>
